html, body {
    height:100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    .ellipsis{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;        
    }

}

#app{
    height: 100%;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}




